body, html{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(imagenes/posibleFondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor{
  min-height: 100vh;
}

.titulo{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.contenedorImg{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imagenes{
  width: 350px;
}

.contenedorTexto{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}

.texto{
  text-align: justify;
}

.titulo2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.botonera{
  padding: 25px;
}

.botonera ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.botonera ul li a{
  text-decoration: none;
}

#NIC-1{
  width: 500px;
}

.contenedorEncabezado{
  background-color: rgba(226, 226, 226, 0.705);
  display: flex;
  margin: 5%;
}

.contenedorEncabezado p{
  padding-left: 12%;
  font-size: medium;
  font-weight: 700;

}

.contenedorEncabezado h1{
  padding-left: 12%;
}

.imagenEncabezado{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imagenEncabezado img{
  object-fit: cover;
  width:80%;
}

.textoEncabezado{
  width: 50%;
}

.contenedorDefault{
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
}

.contenedorControlador{
  background-color: rgba(255, 254, 254, 0.89);
  margin: 5%;
}

.contenedorTextoControlador{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.textoControlador{
  text-align: justify;
  font-size: large;

}

.tituloControlador{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.titulo2Controlador{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.contenedorImgControlador{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imagenesControlador{
  width: 350px;
}

.imagenEncabezadoControlador img{
  object-fit: cover;
  width:80%;
}

.contenedorTitulo{
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
}

.contenedorTitulo h1{
  padding: 5px;
}

.contenedorBotonera{
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
}

.contenedorBotonera ul li{
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.641);
  border-radius: 10px;
}

.contenedorBotonera ul li:hover{
  background-color: rgba(0, 0, 0, 0.836);
}

.contenedorBotonera ul li a{
  color: rgb(226, 226, 226);
  font-weight: bold;
}

.imagenComp{
  width: 450px;
}

.TituloInformacionGeneral{  
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -50%;
}

.ContenedorInformacionGeneral{
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center

}

.textoInfoGeneral{

  display: flex;
  justify-content: center;
  align-items: center;

}

.imagenInfoGeneral1{

  width: 450px
}


.imagenInfoGeneral{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.imagenInfoGeneral2{
  width: 280px
  
}


.imagenInfoGeneral5{
  width: 500px

}

.TituloRecomendaciones{  
  background-color: rgba(255, 255, 255, 0);
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -50%;
  padding-left: 5px;
  padding-right: 5px;
}
.TituloRecomendaciones2{  
  background-color: rgba(255, 255, 255, 0);
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -50%;
}


.ContenedorRecomendaciones{
  background-color: rgba(255, 255, 255, 0.788);
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center
}

.ContenedorRecomendacionesImg{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center
}

.textoRecomendaciones{

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;

}