body, html{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(imagenes/posibleFondo3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor{
  min-height: 100vh;
}

.titulo{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.contenedorImg{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imagenes{
  width: 350px;
}

.contenedorTexto{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
}

.texto{
  text-align: justify;
}

.titulo2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.botonera{
  padding: 25px;
}

.botonera ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.botonera ul li a{
  text-decoration: none;
}

#NIC-1{
  width: 500px;
}

.contenedorEncabezado{
  background-color: rgba(226, 226, 226, 0.705);
  display: flex;
  margin: 5%;
}

.contenedorEncabezado p{
  padding-left: 12%;
  font-size: medium;
  font-weight: 700;

}

.contenedorEncabezado h1{
  padding-left: 12%;
}

.imagenEncabezado{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.imagenEncabezado img{
  object-fit: cover;
  width:80%;
}

.textoEncabezado{
  width: 50%;
}

.contenedorDefault{
  background-color: rgba(226, 226, 226, 0.705);
  margin: 5%;
}